<!-- views/partials/footer.ejs -->

<!--<footer>-->
    <!--<p class="text-center text-muted">By Pierre Bleeker</p>-->
<!--</footer>-->

<script src="/socket.io/socket.io.js"></script>
<script src="js/aja.js"></script>
<script src="js/main.js"></script>