<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans" rel="stylesheet">

<link rel="stylesheet" href="/css/style.css">


