body {
    background-color: #5e00c6;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    height:100%;
    margin:0;
}

a {
    color: #fff;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 0;
    padding: .5rem 0;
}

.nav > li {
    list-style: none;
}

.nav > li > a {
    color: #5e00c6;
}

.nav > li:last-child {
    color: #5e00c6;
    opacity: .5;
}

.main {
    height:100%;
    display:flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
}

.main--home {
    text-align: center;
    flex-direction: column;
}

.logo {
    width: 50px;
    margin: .75rem;
}

.login-button {
    background: #84bd00;
    width: 100px;
    height: 30px;
    padding: .5rem 1rem;
    border-radius: 15px;
    border: 0;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 auto;
}

.container--content {
    background-color:#8216FC;
    width: 75%;
    padding: 1rem;
}

.container--sidebar {
    background-color: #380078;
    -webkit-flex: 1;
    flex:1;
    position:relative;
    padding: 1rem;
}