<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="main">
    <div class="container--following">

        <h3>Geen data beschikbaar</h3>

    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>