<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="main">
    <div class="container--content">

        <div class="jumbotron">
            <h1>Welcome, <span><%= username %></span></h1>

        </div>

    </div>
    <div class="container--sidebar">

        <div class="well">
            <h3>All users</h3>

            <ul id="users-list">
                <% for (var i=0; i < users.length; i++) { %>

                <li><a href="/user/<%= users[i].user_name  %>"><%= users[i].user_name  %></a></li>

                <% }; %>
            </ul>

        </div>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>