<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="main main--home">
    <div class="jumbotron">
        <h1>Spotify Share App</h1>
        <p>Welcome to this Spotify application.</p>
        <a class="login-button" href="/authorization">Login</a>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>