<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header-no-user.ejs %>
</header>

<main class="main main--home">

    <h1>Spotify Share App</h1>
    <p class="center">Welkom bij de Spotify Share app.</p>
    <a class="btn btn--login" href="/authorization">Login</a>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>