<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="main">
    <div class="jumbotron">
        <h1>Thanks for visiting us</h1>

        <p>Click <a href="/authorization">here</a> to login!</p>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>