<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="main main--home">

    <h1>Er geen connectie totstand gekomen met Spotify</h1>
    <p>Probeer het opnieuw, of later nog eens.</p>
    <a class="login-button" href="/authorization">Login</a>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>