<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="main">
    <div class="container--content">

        <div class="jumbotron">
            <h1><%= name %></h1>

            <ul class="following-artists">
                <% for (var i=0; i < tracks.length; i++) { %>
                <li>
                    <a href="<%= tracks[i].track.url  %>">
                        <span><%= tracks[i].track.name  %></span>
                        <span>Populariteit: <%= tracks[i].track.popularity  %></span>
                    </a>
                </li>

                <% }; %>
            </ul>

        </div>

    </div>
    <div class="container--sidebar">

        <div class="well">

        </div>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>