<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="main">
    <div class="container--content">

        <div class="jumbotron">
            <h3>Playlists user: <span><%= user %></span></h3>

            <ul id="play-lists" class="play-lists">
                <li><strong>Waiting on real-time connection...</strong></li>
                <% albums.forEach(function(el,index){ %>
                <li> <%= el.name %></li>
                <% }); %>
            </ul>

        </div>

    </div>
    <div class="container--sidebar">

        <div class="well">
            <h3>User info:</h3>

        </div>

    </div>
</main>

<script>var thisUser = '<%= user %>';</script>
<footer>
    <% include ../partials/footer-user %>
</footer>

</body>
</html>